
li {
    font-weight: bolder;
    font-size: xxx-large
}
#table {
    color: black;
    border: none;
    border-color: black;            
}
.lib {
    font-size: 20px ;
    font-family: "Consolas", "Courier New", monospace;
    margin: 2px;
 }
.menu {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #272b2d;
    color: white;
    border-spacing: 5px;
    height: 999cqi;
 }
.table {
    background-color: #272b2d;
    color: white;
    font-family: "Consolas", "Courier New", monospace;
    border-spacing: 25px;
}
.game {
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    Height: 100%;
}
.banner {
    box-sizing: border-box;
    justify-content: space-between;
    height: ;
    width: 100%;
    max-height: 400px;
    background-image: image();

}
.table2 {
    background-color: #272b2d;
    background-image: url(/Store/Pictures/Seikiro.png);
    color: white;
    font-family: "Consolas", "Courier New", monospace;
    height: 432px;
    width: 1980px;
    background-position: -100px -100px;
}