
li {
    font-weight: bolder;
    font-size: xxx-large
}
#table {
    color: black;
    border: none;
    border-color: black;            
}
.lib {
    font-size: 20px ;
    font-family: "Consolas", "Courier New", monospace;
    margin: 2px;
 }
.menu {
    width: fit-content;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #272b2d;
    color: white;
    border-spacing: 5px;
 }