*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footerlist {
    list-style-type: none;
    padding: 30px;
    overflow: hidden;
    background-color: #272b2d;
  }
  

.footerobject{
    float: left;
    font-size: larger;
}

.footer{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.footerlist{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    text-wrap:nowrap;
    font-size: larger;
}

.footerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    text-align: center;
}

.footerlink{
    transition: 0.5s ease-in-out;
}
.footerlink:hover{
    color:#04688d;
}