*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #29414d;
    font-family: 'Consolas', Courier, monospace;
    color: white;
}
.WelcomeText{
   padding: 200px;
   margin: 0;
   width: 100%;
   background-position: 75%;
   background-size: fill;
   background-repeat: no-repeat;
   font-family: "Consolas", "Courier New", monospace;
}

.maintext{
    color: white;
    font-size: 100px;
    font-weight: bolder;
}
.subtext{
    color: white;
}

.blogs{
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

.blogcontent{
    width: 400px;
    height: 300px;
    padding-top: 60%;

}

.Main {
    display: flex;
    margin-left:auto;
    margin-right:auto;
}
    
.BlogMain {
    flex: 50%;
    padding: 5px;
}

.blogsubtext{
    text-overflow: ellipsis;
    
}

.readmorepos{
   text-align: end;
}

.readmore{
    transition: 0.5s ease-in-out;
}
.readmore:hover{
    color:#04688d;
}

#BlogHead{
    font-weight: bolder;
    font-size: 2rem;
}

.readolderpos{
    font-size: 2rem;
    text-align: end;
}

.readolder{
    transition: 0.5s ease-in-out;
}
.readolder:hover{
    color:#04688d;
}